// Externals

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/modals";
@import "basics/animations";

// Pages
@import "pages/about";
@import "pages/search-dish";
@import "pages/dish-result";
@import "pages/add-dish";
@import "pages/login";

// Components
@import "cmps/app-header";



a.active, a.my-active {
    color: #0f0080;
}





// footer
.app {
    min-height: 100vh;
    position: relative;
}
