.container {
    max-width: $normal-breakpoint;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding: 20px;


    @include for-mobile-layout {
        max-width: initial;
    }

    @include for-tablet-layout {
        max-width: $mobile-breakpoint;
    }

    @include for-normal-layout {
        max-width: $tablet-breakpoint;
    }

    @include for-wide-layout {
        max-width: $normal-breakpoint;
    }
}

.main-app{
    background-image: url(../../imgs/food_background.jpg);
    height: 90vh;
    padding: 10vh;
    background-repeat: no-repeat;
    background-size: cover;

    .card-display{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: space-around;
        align-items: center;
        height: 400px;
        width: 350px;
        border: 1px solid black;
        border-radius: 3px;
        background-color: #d2ebf3e3;
        padding: .5rem;

        .card-display-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
    }
  }

// GRIDS
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 30px;
}